include mixins-svg.jade
include mixins-bad.jade

mixin space()
    | &ensp;

mixin nbsp()
    | &nbsp;

mixin phone(number1,number2,number3,number4='')
    if number4
        a.phone(href=`tel:8${number1}${number2}${number3}${number4}`)
            | 8&nbsp;#{number1}&nbsp;#{number2}&nbsp;#{number3}&nbsp;#{number4}
    else
        a.phone(href=`tel:8342${number1}${number2}${number3}`)
            | #{number1}&nbsp;#{number2}&nbsp;#{number3}

mixin mail(address)
    a.mail(href=`mailto:${address}`) #{address}

mixin Breadcrumb(breadcrumbHref, breadcrumbCopy,breadcrumbClass='')
    a.breadcrumb--no-icon.breadcrumb(href=`${breadcrumbHref}`, class=`${breadcrumbClass}`)
        .breadcrumb__label
            | #{breadcrumbCopy}

mixin BreadcrumbWithIcon(breadcrumbHref,breadcrumbCopy)
    a.breadcrumb--icon.breadcrumb(href=`${breadcrumbHref}`)
        .breadcrumb__icon
            +iconArrowBack('breadcrumb__icon__svg')
        .breadcrumb__icon-label.breadcrumb__label
            | #{breadcrumbCopy}

