section#contact_form__wrap.contact_form__wrap
   h2.section_header
       | Напишите нам
    form#contact_form.contact_form.form(
      action="https://formspree.io/{{ site.email }}",
      method='POST')

        input#contact_form__subject.hidden_field(
          name='_subject',
          type='hidden',
          value='Contact')

        input#contact_form__next.hidden_field(
          name='_next',
          type='hidden',
          value='#TODO:form_submit_fallback')
        
        .form__input_group
            label.form__input_label(for='contact_form__name')
                | Как к Вам обращаться?
            input#contact_form__name.form__field(
              name='clientName',
              title='Имя',
              type='text',
              pattern=".{2,}",
              placeholder='Имя',
              required
              )
        
        .form__input_group
            label.form__input_label(for='contant_form__mail')
                | Ваш email
            input#contant_form__mail.form__field(
              title="Электронная  почта",
              name="theEmail",
              type="email",
              pattern=".*",
              placeholder="your@mail.com",
              required
              )

        .form__input_group
            label.form__input_label(for='contact_form__question')
                | Ваш вопрос
            textarea#contact_form__question.form__field.form__field--large(
              title="Вопрос",
              name="theQuestion",
              minlength=8,
              required
              )

        button#contact_form__button.form__button(type='submit')
           | Отправить сообщение
