include ../mixins.jade
mixin SiteNav()
    | {% assign navpages = site.pages | sort: 'innav' %}
    | {% for p in navpages %}
    | {% if p.innav %}
    | {% if p.url > '/' %}
    | {% if page.url contains p.url %}
    a.site_nav__link.active(href='{{ p.url | prepend: site.baseurl }}')
        | {{ p.title }}
    | {% else %}
    a.site_nav__link(href='{{ p.url | prepend: site.baseurl }}')
        | {{ p.title }}
    | {% endif %}
    | {% else %}
    | {% if p.url == page.url %}
    a.site_nav__link.active(href='{{ p.url | prepend: site.baseurl }}')
        | {{ p.title }}
    | {% else %}
    a.site_nav__link(href='{{ p.url | prepend: site.baseurl }}')
        | {{ p.title }}
    | {% endif %}
    | {% endif %}
    | {% endif %}
    | {% endfor %}

mixin SiteContacts()
    a.site_header__phone(href='tel:9082757092')
        | 8 908 275 70 92
    a.call_back_form__toggle.site_header__call_back(href='#')
        | Заказать звонок
    a.site_header__vk_button(href='https://{{ site.vk_group }}', target='_blank')
        +iconVK('site_header__vk_icon')

mixin CallBackForm()
    form#call_back_form(
      role='form',
      action="https://formspree.io/{{ site.email }}",
      method='POST')
        input#call_back_form__subject.hidden_field(
          name='_subject',
          type='hidden',
          value='WaitingForACall')

        input#call_back_form__next.hidden_field(
          name='_next',
          type='hidden',
          value='#TODO:form_submit_fallback')

        input#call_back_form__name.form__field(
          name='clientName',
          title='Имя',
          type='text',
          pattern=".{2,}",
          placeholder='Как к Вам обращаться?',
          required)

        input#call_back_form__phone.form__field(
          name='thePhoneNumber',
          title='Телефонный номер',
          type='tel',
          pattern='[0-9+-/s)(]{5,}',
          placeholder='Ваш номер телефона',
          required)

        button#call_back_form__cancel_button.call_back_form__toggle(type='button')
            | Отмена

        button#call_back_form__button.form__button(type='submit')
            | Заказать звонок

header#site_header
    a#site_logo(href='/')
        include header_logo.jade
        | {{ site.title }}
    a#mobile_nav_toggle(href='#')
        +iconSiteMenu()
    nav#desktop_nav
        +SiteNav()
    nav#mobile_nav
        +SiteNav()
        +SiteContacts()
    #site_contacts_wrap
        +SiteContacts()
    .call_back_form__wrap.header_form__wrap
        +CallBackForm()
