#call_back_modal
        header.modal_form__header
            h2.section_header
                | Заказать обратный звонок
            a#call_back_modal__close.modal_form__close(href='#')
                | ×

        form#call_back_form.modal_form__form(
          role='form',
          action="https://formspree.io/{{ site.email }}",
          method='POST'
          )

            input#call_back_form__subject.hidden_field(
              name='_subject',
              type='hidden',
              value='WaitingForACall'
              )

            input#call_back_form__next.hidden_field(
              name='_next',
              type='hidden',
              value='#TODO:form_submit_fallback'
              )
            
            .modal_form__input_group
                .modal_form__input_label
                    | Как к Вам обращаться?
                input#call_back_form__name.modal_form__field(
                  name='clientName',
                  title='Имя',
                  type='text',
                  pattern=".{2,}",
                  placeholder='Имя',
                  required
                  )
            
            .modal_form__input_group
                .modal_form__input_label
                    | Ваш номер телефона
                input#call_back_form__phone.modal_form__field(
                  name='thePhoneNumber',
                  title='Телефонный номер',
                  type='tel',
                  pattern='[0-9+-/s)(]{5,}',
                  placeholder='89876543210'
                  required
                  )

            button#call_back_form__button.modal_form__button(type='submit')
               | Заказать звонок
