#call_back_modal.modal_form__wrap
   .modal_form__body 
       header.modal_form__header
           | Заказать обратный звонок
        form#call_back_form.modal_form__form(
          role='form',
          action="https://formspree.io/{{ site.email }}",
          method='POST'
          )

            input#call_back_form__subject.hidden_field(
              name='_subject',
              type='hidden',
              value='WaitingForACall'
              )

            input#call_back_form__next.hidden_field(
              name='_next',
              type='hidden',
              value='#TODO:form_submit_fallback'
              )
            
            .modal_form__input_group
                .modal_form__input_label
                    | Как к Вам обращаться?
                input#call_back_form__name.modal_form__field(
                  name='clientName',
                  title='Имя',
                  type='text',
                  pattern=".{2,}",
                  placeholder='Имя',
                  required
                  )
            
            .modal_form__input_group
                .modal_form__input_label
                    | Ваш номер телефона
                input#call_back_form__phone.modal_form__field(
                  name='thePhoneNumber',
                  title='Телефонный номер',
                  type='tel',
                  pattern='[0-9+-/s)(]{5,}',
                  placeholder='89876543210'
                  required
                  )

            button#call_back_form__button.modal_form__button(type='submit')
               | Заказать звонок

#question_modal.modal_form__wrap
   .modal_form__body 
       header.modal_form__header
           | Задать вопрос
        form#question_form.modal_form__form(
          role='form',
          action="https://formspree.io/{{ site.email }}",
          method='POST'
          )

            input#question_form__subject.hidden_field(
              name='_subject',
              type='hidden',
              value='Question'
              )

            input#question_form__next.hidden_field(
              name='_next',
              type='hidden',
              value='#TODO:form_submit_fallback'
              )
            
            .modal_form__input_group
                .modal_form__input_label
                    | Как к Вам обращаться?
                input#question_form__name.modal_form__field(
                  name='clientName',
                  title='Имя',
                  type='text',
                  pattern=".{2,}",
                  placeholder='Имя',
                  required
                  )
            
            .modal_form__input_group
                .modal_form__input_label
                    | Ваш номер телефона
                input#question_form__phone.modal_form__field(
                  name='thePhoneNumber',
                  title='Телефонный номер',
                  type='tel',
                  pattern='[0-9+-/s)(]{5,}',
                  placeholder='89876543210'
                  )

            .modal_form__input_group
                .modal_form__input_label
                    | Ваш email
                input#question_form__mail.modal_form__field(
                  title="Электронная  почта",
                  name="theEmail",
                  type="email",
                  pattern=".*",
                  placeholder="your@mail.com",
                  required
                  )

            .modal_form__input_group
                .modal_form__input_label
                    | Ваш вопрос
                input#question_form__question.modal_form__large_field(
                  title="Вопрос",
                  name="theQuestion",
                  type="text",
                  pattern=".{8,},
                  required
                  )

            button#question_form__button.modal_form__button(type='submit')
               | Задать вопрос


