include ../mixins.jade

mixin Testimonial(tAuthor, tDate, tQuote)
    li.testimonial__wrap
        blockquote.testimonial
            //-- text {{{
            //----------------------------------------------------------------
            .testimonial__text__wrap
                | {% for p in #{tQuote} %}
                p.testimonial__text
                    | {{ p }}
                | {% endfor %}

            //-- /text }}}
            //-- quote_svg {{{
            //----------------------------------------------------------------
            .testimonial__svg__wrap
                +iconQuote('testimonial__svg__path')
            //-- /quote_svg }}}
            //-- footer {{{
            //----------------------------------------------------------------
            footer.testimonial__footer
                //-- date {{{
                //------------------------------------------------------------
                .testimonial__date
                    | {% assign m = #{tDate} | date: "%-m" %}
                    | {{ #{tDate} | date: "%-d" }}
                    | {% case m %} 
                    | {% when '1' %}января
                    | {% when '2' %}февраля
                    | {% when '3' %}марта
                    | {% when '4' %}апреля
                    | {% when '5' %}мая
                    | {% when '6' %}июня
                    | {% when '7' %}июля
                    | {% when '8' %}августа
                    | {% when '9' %}сентября
                    | {% when '10' %}октября
                    | {% when '11' %}ноября
                    | {% when '12' %}декабя
                    | {% endcase %} 
                    | {{ #{tDate} | date: "%Y" }}
                //-- /date }}}
                //-- author {{{
                //------------------------------------------------------------
                cite.testimonial__name
                    | {{ #{tAuthor} }}
                //-- /author }}}
            //-- /footer }}}

section.testimonials__wrap
    ul.testimonials__list
        | {% for tstm in site.data.testimonials reversed %}
        +Testimonial(
            'tstm.author',
            'tstm.date',
            'tstm.testimonial')
        | {% endfor %}

            
