mixin TourCard(tour)
        | {% assign tours_on_page_counter = tours_on_page_counter | plus: 1 %}
        .tour__wrap
            a.tour__card(tabindex=1, href="{{ #{tour}.id }}")
                .tour__image__wrap
                    img.tour__image(sizes="(max-width: 449px) 1px, (min-width: 450px) and (min-device-pixel-ratio: 2) 600px, 300px", srcset="/img/none.jpg 1w, /img/tours300/{{ #{tour}.imgpath }} 300w, /img/tours600/{{ #{tour}.imgpath }} 600w", alt="{{ #{tour}.title | smartify }}")

                .tour__date
                    | {% if #{tour}.dates[0] | plus: 0 > 10 %} 
                    +LiquidRussianDate('#{tour}.dates[0]')
                    | {% else %} по заказу {% endif %}

                .tour__length
                    | {{ #{tour}.tourlength }}
                    
                h3.tour__title
                    | {{ #{tour}.title }} 
                    | {{ #{tour}.subtitle }} 

                //--.tour__prices
                //--    .tour__label
                //--        | Стоимость:
                //--    | {% for item in #{tour}.prices %}
                //--    | {{ item }}
                //--    | {% endfor %}
                .tour__link
                    | Подробнее
